.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   

}

.toggle-button{
    position: absolute;
    top:10px;
    right: 10px;
    height: 30px;
    width: 90px;
    background-color: #ea4c89;
    color: white;
    border: none;
    border-radius: 2px;
}

.weather-details {

    height:50vh;
    background-image: url("https://res-console.cloudinary.com/dw1czgihu/media_explorer_thumbnails/77379661d5cee6dd0d861fc378c8d2b8/detailed");
    background-size: cover;
    border-radius: 10px;

}

.city-name{
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.temperature{
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}


.details-card{
    display: flex;
    flex-direction: column;

}

.sub-card{
    align-self: center;
    text-align: center;
}

.description{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.extra-details{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);

    
}

.blur-card{
    margin-top: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.error{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
}

.search-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-time{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.date-time-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.feels-like{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.button{
    height: 30px;
    width: 90px;
    background-color: #ea4c89;
    color: white;
    border: none;
    border-radius: 2px;
}

.input-box{
    outline: none;
    height: 30px;
    
}